
html{
    scroll-behavior: smooth;
}
.header {
    position: sticky;
    background-color:white;
    top: 0;
    z-index: 999;
}
.index {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading {
    font-weight: 800;
    font-size: 40;
    color: orangered;
}
span {
    color: black;
}
i.las.la-user-circle {
    font-size: 30;
}
i.las.la-cart-plus {
    font-size: 30;
    padding-left: 20px;
}
h5 {
    font-size:60px!important;
    font-weight: 1000!important;
    color: white!important;
}
p {
    font-size: 25px;
}

.our{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding-top: 10px;
    color: grey;
}
.carousel-caption.d-none.d-md-block {
    position: absolute;
    top: 197px;
    width: 511px;
    color: white;
    text-align: left;
}
.w-100 {
    width: 100%!important;
    height: 750px!important;
}
button.btn.btn-dark {
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 30px;
}
.mine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
    font-weight: 1000;
}
.h1 {
    font-size: 2.5rem;
    font-weight: 900;
}
h1 {
    font-weight: 900!important;
}
.boxx {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
}
.pic {
    color: grey;
    font-weight: 500;
}
span {
    color: orangered;
}
.add {
    width: 400px!important;
}
 .boxx img {
    width: 600px;
    height: 400px;
}
.content{
    margin-top: 40px;
}
.your {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
}
.dot1 img {
    width: 600px;
    height: 400px;
      animation-name: dot1;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

.dot2 {margin-right: 80px;
    padding-bottom: 40px;
    width: 400;
}
.row {
    justify-content: space-between;
    margin-top: 50px;
}
img {
    width: 350px;
    height: 300px;
}
button.btn.btn-light {
    width: 200px;
    border:1px solid black;
    margin-left: 400px;
    font-size: 15px;
    margin-bottom: 50px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.footer{
    width:100%;
    height:300px;
    background-color: black;

}
.sun {
    display: flex;
    justify-content: space-between;
    
}
.web{
    color: grey;
}
h3 {
    font-weight: 500!important;
    margin-top: 60px;
    padding-top: 60px;
}
body{
    font-family: "Quicksand", sans-serif!important;
}
.new {
    display: flex;
    justify-content: space-around;
    /* position: absolute; */
    position: relative;
    top: 40px;
    color: wheat;
    background-color: #8080805e;
    width: 98%;
}
.new span{
    color: white;
}
.new i:hover{
    color: red;
}
.price {
    font-size: 10px!important;
}

